<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.hire.persistence.mapper.JobOpeningMapper">
  <insert id="insert" parameterType="com.example.hire.domain.jobOpening.JobOpening">

    <selectKey keyProperty="jobOpeningId" resultType="int" order="AFTER">
        SELECT SEQ_JOB_OPENING.CURRVAL FROM DUAL
    </selectKey>

    INSERT INTO TB_JOB_OPENING
    (
        JOB_OPENING_ID,
        JOB_POSITION,
     <if test="jobReward !='' and jobReward != null">
       JOB_REWARD,
     </if>
        JOB_CONTENT,
        JOB_SKILL,
        REG_DATE,
        COMPANY_ID
    )
    VALUES
    (
      SEQ_JOB_OPENING.NEXTVAL,
      #{jobPosition},
    <if test="jobReward !='' and jobReward != null">
      #{jobReward},
    </if>
      #{jobContent},
      #{jobSkill},
      #{regDate},
      #{companyId}
    )
  </insert>

  <update id="update">
    UPDATE TB_JOB_OPENING
    SET
      <if test="jobPosition !='' and jobPosition != null">
         JOB_POSITION = #{jobPosition},
      </if>
      <if test="jobReward !='' and jobReward != null">
        JOB_REWARD = #{jobReward},
      </if>
      <if test="jobContent !='' and jobContent != null">
        JOB_CONTENT = #{jobContent},
      </if>
      <if test="jobSkill !='' and jobSkill != null">
        JOB_SKILL = #{jobSkill}
      </if>
    WHERE JOB_OPENING_ID = #{jobOpeningId}
    AND COMPANY_ID = #{companyId}
  </update>

  <select id="read" resultType="com.example.hire.dto.HireListDto">
    SELECT JOB.*, COM.*
    FROM TB_JOB_OPENING JOB
    INNER JOIN TB_COMPANY COM
    ON JOB.COMPANY_ID = COM.COMPANY_ID
    WHERE JOB_OPENING_ID = #{jobOpeningId}
  </select>

  <delete id="delete" parameterType="com.example.hire.domain.jobOpening.JobOpening">
    DELETE FROM TB_JOB_OPENING
    WHERE JOB_OPENING_ID = #{jobOpeningId}
    AND COMPANY_ID = #{companyId}
  </delete>

  <select id="getList" resultType="com.example.hire.dto.HireListDto">
    SELECT
           JOB.JOB_OPENING_ID,
           JOB.JOB_POSITION,
           JOB.JOB_REWARD,
           JOB.JOB_SKILL,
           COM.COMPANY_NAME,
           COM.NATION,
           COM.REGION
    FROM TB_JOB_OPENING JOB
    INNER JOIN TB_COMPANY COM
    ON JOB.COMPANY_ID = COM.COMPANY_ID
  </select>

</mapper>